@import url(http://fonts.googleapis.com/css?family=Trykker);

 body {
  margin: 2% 0;
  background:#fff;
  font-family: 'Trykker',"Century Gothic", Helvetica, "Helvetuca Neue", sans-serif;
  font-size: .85em; /*14px*/
  color:#444;
  line-height: 20px;
 }
 
 a {
  color:#E97724; 
  text-decoration: none;
 }
 
a:hover {
  color: #808080;
  text-decoration: none;
 }
 
 .container-fluid {
  margin-left: auto;
  margin-right: auto;
 }

 .container-fluid.main{
  min-height: 92vh;
 }
 
 li {
  margin-bottom:10px;
 }
 
 hr {
   margin: 20px 0;
   border: 0;
  border-top: 1px solid #E97724;
 }
 
 .well {
  min-height: 20px;
  padding:0;
  margin-bottom: 0;
  background-color: transparent;
  border: none;
  -webkit-border-radius: none;
     -moz-border-radius: none;
          border-radius: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;

  margin: 0 12.5%;
}
 
.btn {
  border-color: #c5c5c5;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
 }

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
 }
 
 .nav-header {
  color: #000;
  margin-bottom:0;
  padding: none;
}

.nav-header .nav-header {
  padding: 3px 0px;
}

.nav li + .nav-header {
  margin-top: 0;
  /*margin-bottom: 5px;*/
  font-size: 12px;
}

.nav li.nav-header a{
  margin-top:0;
 }
 
 .nav-list {
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 0;
  font-size:1.35em; /*18px*/
}

.nav-list > li > a,
.nav-list .nav-header {
  margin-right: 0;
  margin-left: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);

  margin-top: 10%;
}

 
 .nav-list > li > a {
  padding: 0;
 }

.nav-list > .active > a, 
.nav-list > .active > a:hover,
.nav-list > .active > a:focus{
  text-shadow: none;
  background-color: transparent;
  color: #444;
 }

#logo{
  min-width:100px;
  width:75%;
  display:block;
  margin:0 auto;
}

#name{
  width:16.3%;
  /*width:24.2%;*/
  position: fixed;
  /*bottom:7.5%;*/
  bottom:0;
  font-size: .85em;
  background-color: white;
  z-index: 5;
  -webkit-transition:top 0.1s ease-out;
  transition:top 0.1s ease-out;
}

.sidebar-nav-fixed {
  position:fixed;
  width:16.3%;
  /*width:24.2%;*/
  height: 100vh;
}

.orange{
  color:#E97724;
  word-wrap:break-word;
}

footer{
  font-size: .75em; /*10px*/ 
  position: relative;
  z-index: 10; 
}

footer p{
  margin-left: 2.62%;
}

.sCM{
  text-align: center;
  padding-top: 10px;
}

.socialCont{
  max-width: 65px; 
  width:25%;
  display: inline;
  margin:5% auto;
}

.socialButton
{
  display: inline-block;
  width: 41px;
  height: 40px;
  /*-webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;*/
}

.twitter{
  background: url('../static/images/icons40.png') 0px bottom no-repeat;
  /*background-size: auto;*/
}
.twitter:hover{
  background-position: 0px top; 
}

.pintrest{
  background: url('../static/images/icons40.png') -46px bottom no-repeat;
}
.pintrest:hover{
  background-position: -46px top; 
}

.gplus{
  background: url('../static/images/icons40.png') -92px bottom no-repeat;
}
.gplus:hover{
  background-position: -92px top; 
}

.flickr{
  background: url('../static/images/icons40.png') -139px bottom no-repeat;
}
.flickr:hover{
  background-position: -139px top; 
}

.linkedin{
  background: url('../static/images/icons40.png') -184px bottom no-repeat;
}
.linkedin:hover{
  background-position: -184px top; 
}

.github{
  background: url('../static/images/icons40.png') -230px bottom no-repeat;
}
.github:hover{
  background-position: -230px top; 
}

h4{
  text-transform: uppercase;
}

/*h4 small{
 text-transform: none;
 color:#666; 
}*/

h5{
  text-transform: uppercase;
  color:black;
}

h5 a{
  color:black;
  display:inline;
}

h5 a:hover{
  color:#E97724;
}

h6{
  color:black;
  text-transform: none;
}

.black{
  color:black;
}

.education{
  list-style: none;
  margin-bottom:8%;
  color: #666;
}

ul{
  list-style: circle;
}

.top_spacer{
  margin-top:3%;
}

.titles{
  text-transform: uppercase;
  color:#888;
}

.port_caption{
  margin: 5px 0 15px 0;
}

.text_column{
  -moz-column-count:2; /* Firefox */
  -webkit-column-count:2; /* Safari and Chrome */
  column-count:2;

  margin-bottom:15px;
}

.port_selected{
  color:#808080;
}

.nav_item{
  text-transform: none;
}

video{
  width:100%;
}

.highslide img {
  border: 1px solid #ddd;
}

.project-listing{
  margin-bottom: 20px;
}

.project-listing a  h5{
  color:#444; 
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.project-listing a:hover  h5{
  color:#E97724; 
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.project-listing a:hover .thumbnail{
  border: 1px solid #E97724;
}

@media (max-width: 767px) {
  .sidebar-nav-fixed, #name {
    position:static;
    width:auto;
  }
  #name{
    padding-top:30px;
  }
  #top_bar{
    visibility: hidden;
  }

  .text_column{
  -moz-column-count:1; /* Firefox */
  -webkit-column-count:1; /* Safari and Chrome */
  column-count:1;
  margin-bottom:15px;
  }

  #port_proj > hr:first-child{
    visibility: hidden;
  }
}

@media (max-height: 780px) and (min-width: 768px){
  .sidebar-nav-fixed{
    overflow-y:scroll;
    height:90%;
  }
  #port_thumb{
    padding-bottom: 100px;
  }
}

@media (max-height: 885px){
  .sidebar-nav-fixed{
    height:auto;
  }
}