body,
html {
	margin:0;
	padding:0;
	color:#000;
	background:#606060;
	font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    color: #333333;
}

h1 {
	margin:0;
}

h2 {
	margin:0 0 1em;
}

h3
{
    display:inline;
    text-align:center;    
    font-size: 14px;
}

h4
{
    margin: 5px 0 0 0;
    padding: 0 0 0 0;    
}

p
{
    margin: 0 0 0 0;
    padding: 0 0 0 0;    
    
}

#header {
	padding:5px;
	background:#ddd;
	vertical-align: middle
}

#nav {
	padding:5px 10px;
}

#wrap {
	width:1055px;
	margin:15 auto;
	background:gray;
	padding:10px;
}

#main {
	float:right;
	width:795px;
	height: 2665px;
	background:#FFFFFF;
	padding:20px;
}

#sidebar {
	float:left;
	width:125px;
	background:#A0A0A0;
	padding:10px;
}

#footer {
	clear:both;
	padding:5px 10px;
}

#footer p {
	margin:0;
}

/*stuff for the categories*/
#cZoneAxis
{
    width: 75px;
    height: 2710px;
    background:#fff;
    float:right;
    padding-top: 70px;      
}
.centered
{
    text-align:center;    
    font-size: 16px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 10px;    
}
#cType
{
    width:790px;    
}
.typeHold
{
    width: 250px;
    float:left;
    margin: 0 5px 0 5px;
    display: inline;
    border-bottom: 1px solid black;   
}
tr
{
height: 290px;  
padding-bottom: 10px;      
}
td
{
height: 290px;        
    width: 50px;
font-size: 14px;
text-align:center;   
}
.bordered
{
    border-right: 1px solid black;     
}
.rotated
{
-webkit-transform: rotate(-90deg); 
-moz-transform: rotate(-90deg);
    
}

/*stuff for the svg vis */
svg
{
    margin: 5px 5px 5px 5px;
    padding: 15px 10px 5px 10px;
    border: 1px solid #aaa;    
}

.rule line {
  stroke: #666;
  stroke-opacity: .2;
  shape-rendering: crispEdges;
}

.rule:first-child line {
  stroke: #000;
  stroke-opacity: 1;
}

.infobox {
        position: absolute;
        width: 150;
        padding: 5px;
        background-color: rgba(200,200,200,.75);
        display: none;
        top: 100px;
        left: 100px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px #bbb;  
        padding-left: 15px; 
}
