<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="shared-styles-mid-break.html">

<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">
<link rel="import" href="el-overlay.html">
<link rel="import" href="el-carousel.html">

<dom-module id="el-project-images">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }

      .img {
        --iron-image-width: 100%;
        border: 1px solid var(--el-tertiary-color);
      }

      .img_caption {
        margin: 5px 0 15px 0;
      }
    </style>

    <style include="shared-styles-mid-break"></style>

    <div class="container">
      <template is="dom-repeat" items="[[data]]">
        <div class="container50">
          <iron-image class="img" src="../images/projects/[[item.src]]" on-tap="_openModal"></iron-image>
          <p class="img_caption">[[item.caption]]</p>
        </div>
      </template>
    </div>


    <!--
        <div ng-repeat="row in videos" class="row-fluid">
          <div ng-repeat="item in row" class="span6">
            <video controls>
              <source ng-src="{{'static/images/' + item.src + '.webm'}}" type="video/webm">
              <source ng-src="{{'static/images/' + item.src  + '.mp4'}}" type="video/mp4">
              'There would be a video here if your browser supported it...'+
            </video>
            <div class="img_caption">{{item.caption}}</div>
          </div>
        </div> -->

    <el-overlay
      id="modal"
      with-backdrop>
      <!-- <div style="height:50px;width:50px;background-color:transparent;position:absolute;top:-25px;left:-25px;font-size:40px;text-align:center;color: transparent;text-shadow: 0 0 0 #444;pointer-events:none;">&#x274C;</div> -->
      <el-carousel images="[[data]]"></el-carousel>
    </el-overlay>
  </template>

  <script>
    class ElProjectImages extends Polymer.Element {
      static get is() { return 'el-project-images'; }

      static get properties() {
        return {
          data: Array
        };
      }

      constructor() {
        super();
        this._boundCloseModal = this._closeModal.bind(this);
      }

      ready() {
        super.ready();
        // Must move our modal to the body so it has the proper stacking context
        Polymer.dom(document.body).appendChild(this.$.modal);

        window.addEventListener('el-carousel-clicked', this._boundCloseModal);
      }

      disconnectedCallback() {
        super.disconnectedCallback();
        window.removeEventListener('el-carousel-clicked', this._boundCloseModal);
      }

      _openModal() {
        this.$.modal.open();
      }

      _closeModal() {
        this.$.modal.close();
      }
    }

    window.customElements.define(ElProjectImages.is, ElProjectImages);
  </script>
</dom-module>
