body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:640px;
    height:960px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:640px;
    height:960px;
}

.u1 {
    position:absolute;
    left:2px;
    top:472px;
    width:636px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u2_container {
    position:absolute;
    left:540px;
    top:6px;
    width:100px;
    height:68px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:74px;
}

.u3 {
    position:absolute;
    left:2px;
    top:26px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u4 {
    position:absolute;
    left:411px;
    top:843px;
    width:230px;
    height:100px;
    overflow:hidden;
}

#pd0u4 {
    position:absolute;
    left:0px;
    top:0px;
    width:230px;
    height:100px;
    
}

#u5 {
    position:absolute;
    left:207px;
    top:0px;
    width:249px;
    height:95px;
    overflow:hidden;
}

#pd0u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:249px;
    height:95px;
    
}

