<div class="row-fluid">
  <div class="span6">
    <img ng-src = "static/images/elliot_web.jpg" alt = "elliot"/>
    <div class="row-fluid">
      <div class="span3 sCM">
        <div class="socialCont">
          <a class="socialButton flickr" href="http://www.flickr.com/photos/7175744@N02/" target = "_blank"></a>
        </div>
      </div>
      <div class="span3 sCM">
        <div class="socialCont">
          <a class="socialButton twitter" href="https://twitter.com/Nonmetalhail" target = "_blank"></a>
        </div>
      </div>
      <div class="span3 sCM">
        <div class="socialCont">
          <a class="socialButton pintrest" href="http://pinterest.com/nonmetalhail/" target = "_blank"></a>
        </div>
      </div>
      <div class="span3 sCM">
        <div class="socialCont">
          <a class="socialButton github" href="https://github.com/nonmetalhail" target = "_blank"></a>
        </div>
      </div>
    </div>
  </div><!--/span-->
  <div class="span6">
    <p>
      Hi, I&rsquo;m Elliot! I&rsquo;m an architect turned building scientist turned information scientist. I pride myself on being a generalist, part designer, part scientist, and part engineer and well versed in both atoms and bits.
    </p>    
    <p>
      With a Masters degree from the <a href="http://www.ischool.berkeley.edu/" target = "_blank">School of Information</a> at UC Berkeley. I am well versed adherent of the Human Centered Design process. 
    </p>    
    <p>                
      In school and my professional career, I have worked on both physical and digital products including web, mobile, wearables, automotive infotainment head units, and other consumer products. I can lend expertise in user experience, human-computer interaction, product design, prototyping, and have worked in the audio domain, automotive domain, education, and building sector with expertise in construction and systems such as HVAC, lighting, envelope, etc. 
    </p>    
    <p>
      Outside work, I enjoy the hiking-<a href = "http://www.flickr.com/photos/7175744@N02/" 
      target = "_blank">photography</a> nexus, cooking 
      delicious meals, baking bread and fancy cakes, nerding out over TED talks, and playing 
      my guitar or listening to music (from bluegrass to the symphony).
    </p>              
  </div><!--/span-->
</div><!--/row-->