<hr id='top_bar'>
<div class="row-fluid">
  <div class="span3">
    <h4>Education</h4>
  </div><!--/span-->
  <div class="span9">
    <h5>
      <a href = "http://www.ischool.berkeley.edu/" target = "_blank">
        University of California, Berkeley: <br />School of Information</a>, <small> 2011-2013</small>
    </h5>
    <ul class = "education">
      <li>Masters of Information Management and Systems</li>
    </ul>
  
    <h5>
      <a href="http://arch.ced.berkeley.edu/" target = "_blank">
        University of California, Berkeley</a>, <small>2001-2006</small>
    </h5>
    <ul class = "education">
      <li>Bachelor of Arts, Architecture</li>
      <li>Minor: Ecological Design</li>
    </ul>
    <p>LEED Accredited Professional</p>
  </div><!--/span-->
</div><!--/row-->

<hr>
<div class="row-fluid">
  <div class="span3">
    <h4>Skills</h4>
  </div><!--/span-->
  <div class="span4">
    <h5>Programing Experience</h5>
    <ul>
      <li>Python</li>
      <li>HTML & CSS</li>
      <li>Javascript & jQuery</li>
      <li>AngularJS</li>
      <li>d3.js</li>
      <li>Django</li>
      <li>Node.js</li>
      <li>Arduino & other Microcontrollers
      <li>xbee wireless radios</li>
    </ul>
  </div>
  <div class="span4">
    <h5>Research</h5>
    <p>Qualitative and Quantitative research experience</p>
    <ul>
      <li>Survey design, implementation, and analysis</li>
      <li>Contextual inquires</li>
      <li>Interviews</li>
      <li>Experimental research</li>
      <li>Simulations</li>
      <li>Case studies</li>
      <li>Field work</li>
    </ul>
  </div><!--/span-->
</div>
<div class="row-fluid">              
  <div class="span3">
  </div>
  <div class="span4 top_spacer">
    <h5>Design Software</h5>
    <ul>
      <li>Adobe Creative Suite: </li>
        <ul>
          <li>Illustrator</li>
          <li>InDesign</li>
          <li>PhotoShop</li>
          <li>Fireworks</li>
          <li>Flash/Action Script 3</li>
        </ul>
      <li>Lightroom</li>
      <li>Axure</li>
      <li>Balsalmiq</li>
      <li>Solidworks</li>
      <li>Eagle PCB</li>
      <li>AutoCAD</li>
    </ul>
  </div><!--/span-->
  <div class="span4 top_spacer">
    <h5>Expertise</h5>
    <ul>
      <li>Rapid prototyping</li>
      <li>HCI</li>
      <li>Tangible product design</li>
      <li>Product management</li>
      <li>Cost estimating/budgeting</li>
      <li>Graphic and web design</li>
      <li>Data visualization</li>
      <li>Statistical analysis</li>
      <li>Detail-oriented</li>
      <li>Equally comfortable working in teams and independently</li>
    </ul>
  </div><!--/span-->
</div><!--/row-->

<hr>
<div class="row-fluid">
  <div class="span3">
    <h4>Experience</h4>
    <h6>Nov 2013 to present</h6>
  </div>
  <div class = "span9">
    <h5>
      <a href = "http://www.harman.com" target = "_blank">HARMAN: Future Experience Team,</a><small> Palo Alto, CA</small>
    </h5>
    <h5><small class = "black">UX Design and Prototyping Engineer</small></h5>
    <p>
      Third member of Harman's future experience (FX) team, performing top-down vision driven research and engineering in UX. The team's charter is to come up with novel UX that spans all areas of Harman and beyond, exploring new interaction paradigms, synergies with existing products, new product areas, and, more broadly, advancing all user experience at Harman International. In this role, we influence roadmaps and R&D across all of Harman, from the automotive to consumer to professional divisions, collaborate with all HCI and HMI related teams at Harman, and work on future-proofing all UX.
    </p>
    <p>My specific responsibilities include:</p>
    <ul>
      <li>Ideation, writing Invention Disclosure Reports (IDRs), and collaborating with lawyers to file patents of new ideas</li>
      <li>End-to-end prototyping and creation of UX demos</li>
      <li>Product management and guiding ideas from concept to prototype and onwards to actual product groups</li>
      <li>Technology scouting, researching & experimenting with new technologies, sensors, and toolkits</li>
      <li>Competitor analysis</li>
      <li>Managing contractors and interns</li>
      <li>Interviewing new full-time candidates and interns</li>
      <li>Interfacing with other R&D groups, UX groups, product divisions, and the Technology Strategy team at Harman.</li>
    </ul>
  </div>
</div><!--/row-->

<div class="row-fluid top_spacer">
  <div class="span3">
    <h6>May 2013 to Nov 2013</h6>
  </div>
  <div class = "span9">
    <h5>
      <a href = "http://www.buildingrobotics.com/" target = "_blank">Building Robotics,</a><small> Oakland, CA</small>
    </h5>
    <h5><small class = "black">Frontend Developer and UX Engineer</small></h5>
    <p>
      Responsible for implementing a redesign of their main product, Comfy. 
    </p>
    <ul>
      <li>Developed the new, fully responsive frontend using HTML5, CSS3, and javascript.</li>
      <li>Designed for mobile and desktop.</li>
      <li>Implemented advanced map selection with Leaflet and animations with SVG elements.</li>
      <li>Worked on Django backend developing/modifying views, urls, connecting to models, and writing tests.</li>
    </ul>
    <p>Javascript libraries included:</p>
    <ul>
      <li>jQuery</li>
      <li>Twitter Bootstrap</li>
      <li>Leaflet with custom building plan images to create scaleable building-level maps with clickable hotspots</li>
    </ul>
  </div>
</div><!--/row-->


<div class="row-fluid top_spacer">
  <div class="span3">
    <h6>May 2012 to Aug 2012</h6>
  </div>
  <div class = "span9">
    <h5>
      <a href = "http://www.google.com/fusiontables/" target = "_blank">Google: Fusion Tables,</a><small> Mountain View, CA</small>
    </h5>
    <h5><small class = "black">Technical Program Manager Intern</small></h5>
    <p>
      Successfully completed my internship project by bringing the State of Oregon Department of Human Services on-board to host data through Fusion Tables
    </p>
    <p>Specific tasks included:</p>
    <ul>
      <li>Wrote Python scripts to clean and process datasets and connect to the Fusion Tables API. </li>
      <li>Developed information visualizations using Gviz charts, Google Map, and d3.js</li>
      <li>Developed functional prototypes using a Chrome Extension to inject scripts and html into existing pages to mock up possible features and functionality.</li>
      <li>Assessed and suggested features needed to support specific user-group work flows</li>
      <li>Developed UI mockups for new features and conceptual mockups and wireframes demonstrating the trajectory and long range goals of the product</li>
    </ul>
  </div>
</div><!--/row-->

<div class="row-fluid top_spacer">
  <div class="span3">
    <h6>Aug 2010 to May 2012</h6>
  </div>
  <div class = "span9">
    <h5>
      <a href = "http://www.su-per-b.org/" target = "_blank">Institute for the Sustainable Performance of Buildings,</a>
      <small> Berkeley, CA</small>
    </h5>
    <h5><small class = "black">Research Associate</small></h5>
    <p>
      Superb builds educational software for building industry professionals about building systems, installation, and integration. Projects included: CEC Learn Green Buildings software, DOE/NIBS Weatherization training program, DHS/NIBS building design tool, among others.
    </p>
    <ul>
      <li>Managed contractors including developing scopes of work (SOW) and reviewing their submissions.</li>
      <li>Acted as building science technical lead for the projects</li>
      <li>Worked with stakeholders and educators to ensure the product met their needs. </li>
      <li>Produced technical and pedagogical reports for the projects</li>
      <li>Created graphic materials/assets.</li>
      <li>Conducted parametric energy simulations using Energy Plus</li>

    </ul>
  </div>
</div><!--/row-->

<div class="row-fluid top_spacer">
  <div class="span3">
    <h6>July 2008 to Aug 2010,</h6>
    <h6>Aug 2011 to Dec 2011</h6>
  </div>
  <div class = "span9">
    <h5>
      <a href = "http://cbe.berkeley.edu/" target = "_blank">Center for the Built Environment,</a>
      <small> University of California, Berkeley</small>
    </h5>
    <h5><small class = "black">Graduate Student Researcher</small></h5>
    <ul>
      <li>Conducted research on a wide variety of projects including thermal comfort, integrated buildings systems, water and energy studies, UFAD systems, and radiant heating and cooling systems.</li>
      <li>Research methods included computer simulations, field measurements using "off the shelf" tools, building custom tools, controlled chamber studies, IEQ Occupant surveys, interviews, literary reviews/case studies.</li>
    </ul>
  </div>
</div><!--/row-->

<div class="row-fluid top_spacer">
  <div class="span3">
    <h6>April 2009 to Dec 2012</h6>
  </div>
  <div class = "span9">
    <h5>
      <a href = "http://tgif.berkeley.edu/" target = "_blank">The Green Initiative Fund,</a>
      <small> University of California, Berkeley</small>
    </h5>
    <h5><small class = "black">TGIF Grant Recipient</small></h5>
    <ul>
      <li>Received a grant of $114,000 to conduct water metering research and build infrastructure on campus; partnered with a PhD student in Mechanical Engineering, Lindsay Miller.</li>
      <li>Responsible for Project Management: coordinating with campus facilities (and getting them onboard and committed to the project), budgeting, cost estimating, (re)allocating funds, researching metering technologies, and hiring/coordinating undergrad assistants</li>
    </ul>
  </div>
</div><!--/row-->

<div class="row-fluid top_spacer">
  <div class="span3">
    <h6>Jan 2010 to June 2010</h6>
  </div>
  <div class = "span9">
    <h5>
      <a href = "http://www.ced.berkeley.edu/courses/sp10/arch140/" target = "_blank">Department of Architecture,</a>
      <small> University of California, Berkeley</small>
    </h5>
    <h5><small class = "black">Graduate Student Instructor: Architecture 140</small></h5>
    <ul>
      <li>Taught a lab/section on the fundamentals of building science: building physics, daylighting, solar control, and the evolving nature of building technologies, energy efficiency, ecology, and design.</li>
      <li>Developed homeworks, labs, and a final design project. Graded homeworks, labs, tests, and design projects. Managed grades for the all course labs.</li>
      <li>Developed computer tools to aid the pedagogical objectives of the course.</li>
    </ul>
  </div>
</div><!--/row-->

<div class="row-fluid top_spacer">
  <div class="span3">
    <h6>Dec 2007 to July 2008</h6>
  </div>
  <div class = "span9">
    <h5>
      <a href = "http://www.lelandsaylor.com/" target = "_blank">Leland Saylor Associates,</a>
      <small> San Francisco, California</small>
    </h5>
    <h5><small class = "black">Junior Estimator</small></h5>
    <ul>
      <li>Developed construction cost estimates for all phases of design and construction in collaboration with clients and members of the design team.</li>
      <li>Projects included public schools, residences, SF municipal water supply projects, and airports: LAX, SFO, SAC, OAK, SJC</li>
    </ul>
  </div>
</div><!--/row-->

<hr>
<div class="row-fluid top_spacer">
  <div class="span3">
    <h4>Awards and Grants</h4>
  </div>
  <div class = "span9">
    <ul>
      <li>Dr. James R. Chen Award for Enhancing Information Systems, May 2013</li>
      <li>1st Place: MIMS 2013 Final Project Video, May 2013</li>
      <li>Best Project: Interactive Device Design, Fall 2012</li>
      <li>3rd Place: Mobile User Experience Design, Fall 2012</li>
      <li>UC Berkeley Green Initiative Fund (TGIF) Grant Award for 2009 and 2010 for a total of $114,000 towards the development of water monitoring infrastructure on the campus</li>
      <li>American Society of Heating, Refrigeration, and Air-Conditioning Engineers (ASHRAE) Golden Gate Chapter Scholarship 2009</li>
  </div>
</div><!--/row-->

<hr>
<div class="row-fluid">
  <div class="span3">
    <h4>Relevant Coursework</h4>
  </div>
  <div class="span4">
    <h5>Design & Prototyping</h5>
    <ul>
      <li>User Interface Design and Development</li>
      <li>Mobile User Experience Design</li>
      <li>Interactive Device Design</li>
      <li>Tangible User Interfaces</li>
      <li>UI Prototyping</li>                
      <li>Information Visualization</li>
      <li>IO Lab: Rapid Prototyping with web tools and services</li>
      <li>Information Organization and Retrieval</li>
      <li>Web Architecture</li>
      <li>XML Foundations</li>
      <li>Drone Lab</li>
    </ul>
  </div>
  <div class="span4">
    <h5>Research & Analysis</h5>
    <ul>
      <li>Survey Research</li>
      <li>Statistics</li>
      <li>Building Science Research Methods</li>
      <li>Architectural Research Methods</li>
      <li>Building Energy Simulations</li>
      <li>Measurement and Verification in Existing Buildings</li>
      <li>Energy and Society</li>         
      <li>The Green Workplace</li>
      <li>Daylight Analysis</li>
      <li>Sustainable Water Systems</li>
      <li>Ecological Analysis</li>
    </ul>
  </div><!--/span-->
</div><!--/row-->
</div><!--/span9-->
</div><!--/row-->
      
      